html {
  scroll-behavior: smooth;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-up {
  opacity: 0;
  animation: fadeSlideUp 1.5s ease-out forwards;
}
